@font-face {
    font-family: "sen";
    src: url("/fonts/Sen/Sen-VariableFont_wght.ttf");
}

@font-face {
    font-family: "mulish";
    src: url("/fonts/Mulish-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container positioning */
.widgetContainer {
    margin: 24px 0;
    width: 480px;
}

/* Widget Wrapper */
.widget {
    position: relative;
}

/* Widget Main */
.widgetMain {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddddddcc;
}

.widgetMainColl {
    width: 100%;
}

/* Widget Head */
.widgetHead {
    width: 100%;
    height: 35px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    align-items: center;
}

/* Widget Body */
.widgetBody {
    width: 100%;
    height: 100%;
    background: #bbb;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widgetArrow {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.widgetForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.widgetForm span {
    font-size: 16px;
    font-family: "mulish", sans-serif;
    color: black;
    font-weight: 600;
}

.widgetButton {
    width: 120px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 10px;
    padding: 4px 0;
    font-family: "mulish", sans-serif;
    color: black;
    font-weight: 700;
    background-color: unset;
    border: 2px solid #222;
    border-radius: 0;
}

.widgetButton:hover {
    border: 2px solid #222;
}

.widgetButton:focus:not(:focus-visible) {
    outline: none;
}

.widgetButtonActive {
    background-color: #222;
    color: unset;
}

.widgetLogoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 4px;
}

.widgetLogoName {
    font-size: 16px;
    font-family: "sen", sans-serif;
    font-weight: 700;
    color: #222;
}

.widgetOptions {
    position: absolute;
    top: 0;
    right: 4px;
}

.widgetFooter {
    display: flex;
    justify-content: space-around;
    width: 105px;
    transform: translateY(4px)
}

.widgetFooter a {
    font-size: 10px;
    font-family: "mulish", sans-serif;
    font-weight: 700;
    color: #444;
    letter-spacing: 0.2px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/*
    LOADING ICON
*/

.widgetLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100%;
    width: 300px;
}

.widgetSpinner {
    border: 4px solid #22222266;
    border-top: 4px solid #222;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1.5s linear infinite;
}

.widgetLoading span {
    font-size: 18px;
    font-family: "mulish", sans-serif;
    font-weight: 600;
    color: #222;
}

/*
    ALERT ICON
*/

.widgetAlert {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    background: #bbb;
    border: 1px solid #ddddddcc;
    margin-bottom: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.widgetAlert span {
    font-size: 14px;
    font-family: "mulish", sans-serif;
    font-weight: 700;
    color: #a24a02;
}

/*
    DARK MODE
*/

.dark.widgetBody {
    background: #363636;
}

.dark.widgetMain {
    border: 1px solid #454545cc;
}

.dark.widgetForm span,
.dark.widgetLogoName,
.dark.widgetButton {
    color: #ddd;
}

.dark.widgetButton {
    border: 1px solid #888;
}

.dark.widgetButtonActive {
    background-color: #888;
    color: #222;
}

.dark.widgetFooter a {
    color: #aaa;
}

.dark.widgetSpinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
}

.dark.widgetLoading span {
    color: #fff;
}

.dark.widgetAlert {
    background: #363636;
    border: 1px solid #454545cc;
}

.dark.widgetAlert span {
    color: #f59e0b;
}


/*
    KEYFRAMES
*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}