@font-face {
    font-family: "sen";
    src: url("/fonts/Sen/Sen-VariableFont_wght.ttf");
}

@font-face {
    font-family: "mulish";
    src: url("/fonts/Mulish-VariableFont_wght.ttf");
}

/* Container positioning */
.widgetContainer {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
}

/* Widget Wrapper */
.widget {

}

/* Widget Main */
.widgetMain {
    width: 480px;
    height: 140px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(235, 235, 235, 0.8);
}

.widgetMainColl {
    width: 100%;
}

/* Widget Head */
.widgetHead {
    width: 100%;
    height: 35px;
    background: rgba(235, 235, 235, 0.8);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    z-index: 100;
    display: flex;
    align-items: center;
}

/* Widget Body */
.widgetBody {
    width: 100%;
    height: 100%;
    background: #726d5c;
    background: linear-gradient(
        66deg,
        rgb(134, 130, 116) 0%,
        rgb(123, 116, 104) 26%,
        rgb(130, 123, 112) 72%,
        rgb(115, 114, 107) 100%
    );
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widgetForm {
    display: flex;
    align-items: center;
}

.widgetForm span {
    font-size: 16px;
    font-family: "mulish", sans-serif;
    color: black;
    font-weight: 600;
}

.widgetButton {
    width: 120px;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 10px;
    padding: 4px 0;
    font-family: "mulish", sans-serif;
    color: black;
    font-weight: 700;
    background-color: unset;
    border: 2px solid #222;
    border-radius: 0;
}

.widgetButton:hover {
    border: 2px solid #222;
}

.widgetButton:focus {
    outline: none;
}

.widgetButtonActive {
    background-color: #222;
    color: unset;
}

.widgetLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widgetLogoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 4px;
}

.widgetLogoName {
    font-size: 16px;
    font-family: "sen", sans-serif;
    font-weight: 700;
    color: #222;
}

/* DARK MODE */

.widgetBody--dark {
    background: black;
}
